PORT=5000

MONGO_USER=giridharanthangaraj02_db_user
MONGO_PASSWORD=Giri0801
MONGO_CLUSTER=cluster0.eisg3pm.mongodb.net
MONGO_DB_NAME=smart-flashcards
MONGO_URI_STANDARD=mongodb://giridharanthangaraj02_db_user:Giri0801@ac-axrlcaq-shard-00-00.eisg3pm.mongodb.net:27017,ac-axrlcaq-shard-00-01.eisg3pm.mongodb.net:27017,ac-axrlcaq-shard-00-02.eisg3pm.mongodb.net:27017/smart-flashcards?ssl=true&replicaSet=atlas-t0yq5w-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=f40ec7f7b5475abe4b9e1862f6a5bdc936487ce02e46786b1ad6f642320192bde2c8b217d704b203866297bd5d5130df4be1f223e1519a01135620aeb8dd91d0
JWT_EXPIRE=7d
NLP_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
